$scissors: linear-gradient(to top, #EC9F0F, #ECAA22);
$rock: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$paper: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$lizard: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$spock: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));

.App {
  min-height: 100vh;
  background: $background;
  color: white;
  align-items: center;
  padding-block: 2rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  justify-content: space-between;

  header {
    width: 85%;
    justify-content: space-between;
    align-items: center;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 0.5rem;
    padding: 0.8rem;

    .title {
      padding-left: 1rem;

      img {
        width: 50%;
      }
    }

    .score-board {
      background-color: white;
      color: black;
      padding: 1rem 2rem;
      align-items: center;
      border-radius: 0.5rem;

      p {
        text-transform: uppercase;
        color: hsl(229, 64%, 46%);
        font-size: 0.8rem;
        letter-spacing: 0.02rem;
        font-weight: bold;
      }

      h3 {
        font-size: 3rem;
        color: hsl(229, 25%, 31%);
      }
    }
  }

  main {
    width: 55%;
    max-width: 300px;
    aspect-ratio: 1;
    background-image: url("../public/images/bg-pentagon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;

    .row-1, .row-2, .row-3{
      width: 100%;
      justify-content: center;

      div.border {
        width: 40%;
        aspect-ratio: 1;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px -2px 3px 1px rgba(10,10,10,0.5);

        div {
          width: 75%;
          justify-content: center;
          align-items: center;
          background-color: white;
          aspect-ratio: 1;
          border-radius: 50%;
          box-shadow: inset 0px 4px 3px 1px rgba(10,10,10,0.2);

          img {
            width: 50%;
          }
        }
      }
    }

    .row-1 {
      margin-top: -25%;
    }

    .row-2 {
      width: 150%;
      gap: 45%;
      margin-bottom: 20%;
    }

    .row-3 {
      gap: 25%;
      margin-bottom: -25%;
      width: 110%;
    }
  }

  #result {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    display: none;

    div {
      width: 100%;
      max-width: 600px;
      justify-content: space-between;
      gap: 1rem;
      padding-inline: 1rem;
      //margin-bottom: 1rem;

      div {
        max-width: 200px;
        align-items: center;

        div.border {
          width: 90%;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: white;
          align-items: center;
          justify-content: center;
          box-shadow: inset 0px -2px 3px 1px rgba(10,10,10,0.5);

          div {
            width: 99%;
            justify-content: center;
            align-items: center;
            background-color: white;
            aspect-ratio: 1;
            border-radius: 50%;
            box-shadow: inset 0px 4px 3px 1px rgba(10,10,10,0.2);

            img {
              width: 70%;
            }
          }
        }

        .placeholder {
          background-color: hsl(237, 49%, 15%);
          width: 90%;
          aspect-ratio: 1;
          border-radius: 50%;
        }

        p {
          font-size: 0.7rem;
          font-weight: 600;
          letter-spacing: 0.05rem;
        }
      }
    }

    h1 {
      margin-top: 2rem;
      text-transform: uppercase;
    }

    button {
      background-color: white;
      color: hsl(229, 25%, 31%);
    }
  }

  button {
    text-transform: uppercase;
    padding: 0.7rem 2.5rem;
    background: none;
    border: 1px solid white;
    border-radius: 0.5rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 0.8rem;
  }

  button#rules-btn {
    color: white;
  }

  #rules {
    display: none;
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    border-radius: 1rem;
  }
}

.scissors {
  background: $scissors;
}

.rock {
  background: $rock;
}

.paper {
  background: $paper;
}

.lizard {
  background: $lizard;
}

.spock {
  background: $spock;
}